<!-- Cabecera (HeaderComponent) arriba -->
<app-header></app-header>

<!-- Contenedor principal para la galería -->
<div class="gallery-container">
  <div
    class="character-card"
    *ngFor="let pokemon of pokemons"
    (click)="onCharacterClick(pokemon.id)"
  >
    <img [src]="pokemon.image" [alt]="pokemon.image" />
    <h3>{{ pokemon.id }}</h3>
    <p>HP: {{ pokemon.hp }}</p>
    <p>Attack: {{ pokemon.attack }}</p>
  </div>
</div>

<!-- Popup solo se muestra si showPopup es true -->
<app-pokemon-popup
  *ngIf="showPopup"
  [pokemon]="selectedPokemon"
  (close)="onClosePopup()"
></app-pokemon-popup>
<!-- <app-floating-wallet-button></app-floating-wallet-button> -->