<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <!-- Usamos [formGroup] con formulario reactivo -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Usuario:</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Introduce tu usuario"
        />
      </div>
  
      <div>
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Introduce tu contraseña"
        />
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  